/*------------------------ CSS ---------------------------------------- */

.span-responsive>.row-fluid>div{margin-left: 0px !important; padding: 0px 6px 0px 6px}
.span-responsive-3-lg>.row-fluid>.span2{text-align:center;}
/*acima de 1280px */
@media screen and (min-width: 80em)  { 
 .span-responsive-1 {width:8.33% !important}
 .span-responsive-2 {width:16.66% !important}
 .span-responsive-3,.span-responsive-3-lg{width:25% !important}
 .span-responsive-4 {width:33.3% !important} 
}
/*abaixo 1280px */
@media screen and (max-width: 80em)  {
 .span-responsive-1 {width:8.33% !important}
 .span-responsive-2 {width:16.66% !important}
 .span-responsive-3,.span-responsive-3-lg {width:25% !important}
 .span-responsive-4 {width:33.3% !important} 
}
/*abaixo 1200px */
@media screen and (max-width: 75em)  {
 .span-responsive{width:100% !important}
 .span-responsive-1 {width:8.33% !important}
 .span-responsive-2 {width:13.33% !important}
 .span-responsive-3 {width:25% !important}
 .span-responsive-4 {width:33.3% !important}
 .span-responsive-3-lg {width:30% !important} 
}
/*abaixo 1000px */
@media screen and (max-width: 62.5em)  {
 .span-responsive-1 {width:8.33% !important}
 .span-responsive-2 {width:33.33% !important}
 .span-responsive-3,.span-responsive-3-lg {width:50% !important}
 .span-responsive-4 {width:33.3% !important} 
}
/*abaixo 600px */
@media screen and (max-width: 37.5em)  {
 .span-responsive-1 {width:8.33% !important}
 .span-responsive-2 {width:33.33% !important}
 .span-responsive-3,.span-responsive-3-lg,.span-responsive-4 {width:100% !important}
}
/*abaixo 360px*/
@media screen and (max-width: 22.5em)  {
 .labelOverflowTresPontinhos label {white-space: normal;} 
}

/*------------------------ CSS ---------------------------------------- */

/*
adicionar classes:
span-responsive
span-responsive-1
span-responsive-2
span-responsive-3
span-responsive-3-lg
span-responsive-4
*/
