/**********************************LICENCA*GPLv2********************************************************************
 Copyright [2011,2012,2013,2014,2015,2016] da CentralIT Tecnologia da Informaï¿½ï¿½o Ltda (www.centralit.com.br)      
20161025                                                                                                                  
 Este arquivo ï¿½ parte do programa/software: Citsmart (www.citsmart.com.br)                                        
                                                                                                                  
 O Citsmart ï¿½ um software livre; vocï¿½ pode redistribui-lo e/ou modificï¿½-lo dentro dos termos da Licenï¿½a           
 Pï¿½blica Geral GNU como publicada pela Fundaï¿½ï¿½o do Software Livre (FSF); na versï¿½o 2 da Licenï¿½a.                  
                                                                                                                  
 Este programa/software ï¿½ distribuï¿½do na esperanï¿½a que possa ser ï¿½til, mas SEM NENHUMA GARANTIA; sem uma          
 garantia implï¿½cita de ADEQUAï¿½ï¿½O a qualquer MERCADO ou APLICAï¿½ï¿½O EM PARTICULAR. Veja a Licenï¿½a Pï¿½blica Geral      
 GNU/GPL em portuguï¿½s para maiores detalhes.                                                                      
                                                                                                                  
 Vocï¿½ deve ter recebido uma cï¿½pia da Licenï¿½a Pï¿½blica Geral GNU, sob o tï¿½tulo 'LICENCA.txt', junto com este        
 programa/software, se nï¿½o, acesse o Portal do Software Pï¿½blico Brasileiro no endereï¿½o www.softwarepublico.gov.br 
 ou escreva para a Fundaï¿½ï¿½o do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301,USA  
********************************************************************************************************************/
*   .table {
  border-left:1px solid #ddd;
 } */
 div.main_container .box {
  border: 0px solid #D8D8D8 !important;
  border-top: none !important;
/    margin-top: 0!important;  /
  border-radius: 0 !important;
 }
 select {
  width: 98%!important;
 }

  .table th {
  border:1px solid #ddd;
  padding:4px 10px;
  border-left:none;
  background:#eee;
  word-wrap:break-word;
 }
 .labelOverflowTresPontinhos label {white-space: nowrap; font-weight: bold;}

 .inner{
  margin: 15px;
 }

/*  .table td {
  border:1px solid #ddd !important;
  padding:4px 10px !important;
  border-top:none !important;
  border-left:none !important;
 }   */

/*------------------------ CSS ---------------------------------------- */

.span-responsive {margin-left: 0px !important}

@media screen and (min-width: 52em)  {
   .span-responsive{width: 220px}

}
@media screen and (max-width: 52em)  {

 .span-responsive{width:60% !important}

}
@media screen and (max-width: 30.5em)  {


 .span-responsive{width:80% !important}

}
@media screen and (max-width: 20.5em)  {

 .labelOverflowTresPontinhos label {white-space: normal;} 
 .span-responsive{width:100% !important}

}


/*------------------------ CSS ---------------------------------------- */