<?xml version="1.0" encoding="UTF-8" ?>
<taglib xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_1.xsd"
    version="2.1">
    <tlib-version>1.2</tlib-version>
    <short-name>menuRapido</short-name>
    <uri>http://citsmart.centralit.com.br/citsmart/menu/rapido</uri>
    <tag>
        <name>menuRapido</name>
        <tag-class>br.com.centralit.citcorpore.tld.MenuRapido</tag-class>
        <body-content>empty</body-content>
    </tag>
</taglib>
